<ol class="breadcrumb">
    <li><a href="{% url 'shop_list' %}">Catalog</a></li>
    {% if current_category %}
        <li>
            {% for category in current_category %}
                <a href="{{ category.get_absolute_url }}">
                    {{ category.name }}{% if not forloop.last %}, {% endif %}
                </a>
            {% endfor %}
        </li>
    {% endif %}
    {% if current_brand %}
        <li>
            {% for brand in current_brand %}
                <a href="{{ brand.get_absolute_url }}">
                    {{ brand.name }}{% if not forloop.last %}, {% endif %}
                </a>
            {% endfor %}
        </li>
    {% endif %}
    {% if current_tag %}
        <li>
            {% for tag in current_tag %}
                <a href="{{ tag.get_absolute_url }}">
                    {{ tag.tag }}{% if not forloop.last %}, {% endif %}
                </a>
            {% endfor %}
        </li>
    {% endif %}
    <div class="pull-right" style="margin-top: -5px">
        <form method="post" action="{% url 'shop_list' %}" class="form-group" id="sort_form" style="display: inline">
            {% csrf_token %}
            <div class="btn-group btn-group-sm" data-toggle="buttons">

                <label class="btn btn-default {% if request.session.list_view == 'normal' %}active{% endif %}">
                    <input type="radio" name="set_list_view" onchange="$('#sort_form').submit()"
                           id="normal" value="normal" autocomplete="off">
                    <span class="glyphicon glyphicon glyphicon-th" title="Thumbnails"
                          data-toggle="tooltip" data-placement="top"></span>
                </label>
                <label class="btn btn-default {% if request.session.list_view == 'string' %}active{% endif %}">
                    <input type="radio" name="set_list_view" onchange="$('#sort_form').submit()"
                           id="string" value="string" autocomplete="off">
                    <span class="glyphicon glyphicon glyphicon-th-list" title="List"
                          data-toggle="tooltip" data-placement="top"></span>
                </label>
            </div>
        </form>
        <div class="btn-group btn-group-sm">
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                {{ ordering }}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-left" style="right: 0; left: auto;">
                <li {% if request.session.sort_order == 'new' %}class="active"{% endif %}>
                    <a href="?set_sort_order=new"
                       onclick="$('#sort_form').attr('action', this.href).submit(); return false">
                        New
                    </a>
                </li>
                <li {% if request.session.sort_order == 'price_desc' %}class="active"{% endif %}>
                    <a href="?set_sort_order=price_desc"
                       onclick="$('#sort_form').attr('action', this.href).submit(); return false">
                        By price <span class="glyphicon glyphicon glyphicon-arrow-down"></span>
                    </a>
                </li>
                <li {% if request.session.sort_order == 'price_asc' %}class="active"{% endif %}>
                    <a href="?set_sort_order=price_asc"
                       onclick="$('#sort_form').attr('action', this.href).submit(); return false">
                        By price <span class="glyphicon glyphicon glyphicon-arrow-up"></span>
                    </a>
                </li>
                <li {% if request.session.sort_order == 'has_discount' %}class="active"{% endif %}>
                    <a href="?set_sort_order=has_discount"
                       onclick="$('#sort_form').attr('action', this.href).submit(); return false">
                        On sales
                    </a>
                </li>
                <li {% if request.session.sort_order == 'rating' %}class="active"{% endif %}>
                    <a href="?set_sort_order=rating"
                       onclick="$('#sort_form').attr('action', this.href).submit(); return false">
                        By rating
                    </a>
                </li>
                <li {% if request.session.sort_order == 'old' %}class="active"{% endif %}>
                    <a href="?set_sort_order=old"
                       onclick="$('#sort_form').attr('action', this.href).submit(); return false">
                        Old
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm">
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                {{ request.session.per_page }}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-left" style="right: 0; left: auto;">
                <li {% if request.session.per_page == '6' %}class="active"{% endif %}>
                    <a href="?set_per_page=6"
                       onclick="$('#sort_form').attr('action', this.href).submit(); return false">
                        by 6 per page
                    </a>
                </li>
                <li {% if request.session.per_page == '12' %}class="active"{% endif %}>
                    <a href="?set_per_page=12"
                       onclick="$('#sort_form').attr('action', this.href).submit(); return false">
                        by 12 per page
                    </a>
                </li>
                <li {% if request.session.per_page == '30' %}class="active"{% endif %}>
                    <a href="?set_per_page=30"
                       onclick="$('#sort_form').attr('action', this.href).submit(); return false">
                        by 30 per page
                    </a>
                </li>
                <li {% if request.session.per_page == '90' %}class="active"{% endif %}>
                    <a href="?set_per_page=90"
                       onclick="$('#sort_form').attr('action', this.href).submit(); return false">
                        by 90 per page
                    </a>
                </li>
            </ul>
        </div>
    </div>
</ol>
<form id="filters" method="get" action="">{% csrf_token %}</form>