{% extends 'base.html' %}
{% load rating %}
{#{% load thumbnail %}#}
{% load staticfiles %}
{% block header %}
    Goods List
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-3 col-lg-2">
            {% include 'shop/shop_navigation.html' %}
        </div>
        <div class="col-md-9 col-lg-10">
            {% include 'shop/breadcrumb.html' %}
            {% if request.session.list_view == 'normal' %}
                {% include 'shop/thumb_goods_list.html' with object_list=object_list %}
            {% endif %}
            {% if request.session.list_view == 'string' %}
                {% include 'shop/string_goods_list.html' with object_list=object_list %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <nav class="col-lg-12">
            <div class="row">
                <ul class="pager">
                    {% if page_obj.has_previous %}
                        <li class="previous"><a
                                href="?{% url_replace request 'page' page_obj.previous_page_number %}"><span
                                aria-hidden="true">&larr;</span></a></li>
                    {% endif %}
                    <li class="text-center">{{ page_obj.number }} of {{ paginator.num_pages }}</li>
                    {% if page_obj.has_next %}
                        <li class="next"><a href="?{% url_replace request 'page' page_obj.next_page_number %}"><span
                                aria-hidden="true">&rarr;</span></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}

{% block js %}
    <script>
        if ('{{ current_category.count }}' === '1') {
            $("[id$=category-" + {{ current_category.0.id }} +"]").addClass('active');
        }
        if ('{{ current_brand.count }}' === '1') {
            $("[id$=brand-" + {{ current_brand.0.id }} +"]").addClass('active');
        }
        {% for tag_object in current_tag %}
            $("[name=tag]").each(function (index) {
                if (this.id === "tag-" + "{{ tag_object.slug }}") {
                    $(this).attr("checked", "checked")
                }
            });
        {% endfor %}

        {% for brand_object in current_brand %}
            $("[name=brand]").each(function (index) {
                if (this.id === "brand-" + "{{ brand_object.slug }}") {
                    $(this).attr("checked", "checked")
                }
            });
        {% endfor %}


        ['Categories', 'Brands', 'Filters'].forEach(function (item) {
            if (Cookies.get(item + '-hide')) {
                $('#collapse' + item).collapse('hide')
            } else {
                $('#collapse' + item).collapse('show')
            }
            $('#collapse' + item).on('hidden.bs.collapse', function () {
                Cookies.set(item + '-hide', true);
            }).on('shown.bs.collapse', function () {
                Cookies.remove(item + '-hide');
            });
        });
        var items_count = {{ item_count }};
        $('[name=add-to-cart]').click(function (event) {
            event.preventDefault();
            var id = $(this).data('id');
            var add_url = '{% url "to_cart" %}';

            $.post(add_url, {'pk': id}).done(function (data) {
                if (data.status === 'ok') {
                    $().toastmessage('showToast', {
                        text: data.message,
                        position: 'top-center',
                        type: 'success'
                    });
                    items_count++;
                    $('#buy-button-' + id).html('<a href="{% url 'index_cart' %}">' +
                            '<img src="{% static 'images/checkout32.png' %}" title="Checkout"' +
                            'data-toggle="tooltip" data-placement="top" style="margin-top: -5px"></a>');
                    $('#shopping-cart').html('<div><span class="badge pull-right"> ' + items_count +
                            ' </span><a href="{% url 'index_cart' %}"><img src="' +
                            '{% static 'images/shoping-full-32.png' %}" alt="shopping cart" style="margin-top: 7px"></a></div>')

                } else {
                    $().toastmessage('showToast', {
                        text: data.message,
                        position: 'top-center',
                        type: 'error'
                    });
                    {#                    setTimeout(function () {#}
                    {#                        location.reload()#}
                    {#                    }, 4000);#}
                }
            })
        });
        $('.goodsTabs a').click(function (e) {
            e.preventDefault();
            $('[name=' + this.name + ']').tab('show');
        });
        function change_wish_list(id, url, action) {
            $.post(url, {'goods_id': id}).done(function (data) {
                if (data.status === 'ok') {
                    if (action === 'add') {
                        $('#add-' + id).hide();
                        $('#del-' + id).show()
                    } else {
                        $('#add-' + id).show();
                        $('#del-' + id).hide()
                    }
                    $().toastmessage('showToast', {
                        text: data.message,
                        position: 'top-center',
                        type: 'success'
                    });
                    $('#reload').show()
                } else {
                    $().toastmessage('showToast', {
                        text: data.message,
                        position: 'top-center',
                        type: 'error'
                    });
                }
            })
        }
    </script>
{% endblock %}
{% block style %}
    <link href="{% static "css/shop.css" %}" rel="stylesheet" media="screen">
{% endblock %}

