{% extends 'base.html' %}
{% load static %}
{% load rating %}
{% load thumbnail %}
{% block body %}
    <div class="row">
        <div class="col-md-3 col-lg-2">
            {% include 'shop/shop_navigation.html' %}
        </div>
        <div class="col-md-9 col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{ goods.name }}</h4>
                </div>
                <div class="panel-body">
                    <div>
                        <div id="carousel-pictures" class="carousel slide hidden-xs" data-ride="carousel">
                            <!-- Indicators -->

                            <ol class="carousel-indicators">
                                {% for image in goods.image_set.all %}
                                    <li data-target="#carousel-pictures" data-slide-to="{{ forloop.counter0 }}"
                                        {% if forloop.first %}class="active">{% endif %}</li>
                                {% endfor %}
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                {% for image in goods.image_set.all %}
                                    <div class="item {% if forloop.first %}active{% endif %}">
                                        {% thumbnail image.image "400x300" padding=True as im %}
                                            <img src="{{ im.url }}" class="center-block">
                                            <div class="carousel-caption">
                                                {{ image.description }}
                                            </div>
                                            </div>
                                        {% endthumbnail %}
                                {% endfor %}

                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-pictures" role="button"
                                   data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-pictures" role="button"
                                   data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="pull-left" style="margin-right: 10px">
                            {% thumbnail goods.manufacturer.logo "160x120" as im %}
                                <img src="{{ im.url }}">
                            {% endthumbnail %}

                        </div>
                        <div>
                            {% lorem %}
                        </div>
                        <table class="table table-condensed table-striped">
                            <tr>
                                <td>Description</td>
                                <td>{{ goods.description }}</td>
                            </tr>
                            <tr>
                                <td>Price</td>
                                <td>{{ goods.price }}</td>
                            </tr>
                            <tr>
                                <td>Category</td>
                                <td>
                                    <a href="{{ goods.category.get_absolute_url }}">{{ goods.category }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Tags</td>
                                <td>
                                    {% for tag in goods.tags.all %}
                                        <el><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></el>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>In stock</td>
                                <td>{{ goods.in_stock }}</td>
                            </tr>
                            <tr>
                                <td>Rating</td>
                                <td>
                                    {{ goods.rating.average_rating }}{% show_rating goods %} {{ goods.rating.rating_counter }}
                                    Votes
                                </td>
                            </tr>
                            <tr>
                                <td>discount</td>
                                <td>{{ goods.discount }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="pull-left"><a style="margin-left: 10px" class="btn btn-default"
                                                  href="{% url 'shop_list' %}">Back to
                            shop</a></div>
                        {% if goods.id not in cart_goods_id %}
                            <form class="" action="{% url 'to_cart' %}"
                                  method="post">{% csrf_token %}
                                <input class="hidden" name="pk" value="{{ goods.id }}">
                                <input style="margin-right: 10px"
                                       class="btn btn-primary {% if not goods.in_stock %}disabled{% endif %} pull-right"
                                       name="submit" type="submit" value="Add to cart"/>
                                <input type="number" style="margin-right: 15px; margin-top: 5px; width: 35px"
                                       class="pull-right" value="1"
                                       step="1" id="count" name="count" min="1" max="99">
                                <label style="margin-top: 7px; margin-right: 10px" class="pull-right"
                                       for="count">Count:</label>
                            </form>
                        {% else %}
                            <a href="{% url 'index_cart' %}" class="btn btn-primary pull-right"
                               style="margin-right: 10px">
                                See in cart
                            </a>

                            <div class="pull-right" style="margin: 6px">You already add this goods in your cart!</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if user.is_authenticated and not user.is_staff %}
                {% if is_goods_rated_by_user %}
                    <h4>You are already reviewed this goods</h4>
                    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseForm"
                       aria-expanded="false" aria-controls="collapseForm">Show your review</a>
                {% else %}
                    <h4>Write your review</h4>
                {% endif %}
                <div {% if is_goods_rated_by_user %}class="collapse"{% endif %} id="collapseForm">
                    <form action="{% url 'shop_review' %}" method="post"> {% csrf_token %}
                        <input type="hidden" name="goods_id" value="{{ goods.id }}"/>

                        <div class="form-group">
                            <textarea rows=4 class="form-control" name="review_text">{{ review_text }}</textarea>
                            {% if form.review_text.errors %}
                                <div class="alert alert-danger" role="alert">{{ form.review_text.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="stars">
                            <input class="star star-5" id="star-5" type="radio" value="5" name="rating"/>
                            <label class="star star-5" for="star-5"></label>
                            <input class="star star-4" id="star-4" type="radio" value="4" name="rating"/>
                            <label class="star star-4" for="star-4"></label>
                            <input class="star star-3" id="star-3" type="radio" value="3" name="rating"/>
                            <label class="star star-3" for="star-3"></label>
                            <input class="star star-2" id="star-2" type="radio" value="2" name="rating"/>
                            <label class="star star-2" for="star-2"></label>
                            <input class="star star-1" id="star-1" type="radio" value="1" name="rating"/>
                            <label class="star star-1" for="star-1"></label>
                        </div>
                        {% if is_goods_rated_by_user %}
                            <input class="btn btn-primary pull-right" type="submit" name="add" value="Edit review"/>
                            <input id="review-delete" class="btn btn-danger pull-right" type="submit" name="delete"
                                   value="Delete"/>
                        {% else %}
                            <input class="btn btn-primary pull-right" type="submit" name="add" value="Add review"/>
                        {% endif %}
                    </form>
                </div>
            {% else %}
                {% if not user.is_staff %}
                    <h4>To leave review please <a href="{% url 'login_user' %}">login</a></h4>
                {% endif %}
            {% endif %}
            {% if goods.review_set.all %}
                <h4>Reviews:</h4>
            {% endif %}
            {% for review in goods.review_set.all %}
                <div id="review-{{ review.id }}" class="panel panel-default" data-comment_id="{{ review.id }}">
                    <div class="panel-heading">
                        <div>
                            {% if review.rating > 0 %}
                                {% show_rating goods review.author %}
                            {% endif %}
                            {{ review.author.get_short_name }} published {{ review.published|timesince }} ago
                            {% if user.is_staff %}
                                <div class="pull-right">
                                    <a class='btn btn-danger btn-xs' name="remove" data-id="{{ review.id }}"><span
                                            class="fa fa-times"></span></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if review.review_text %}
                        <div class="panel-body">
                            <div>
                                <div>
                                    {{ review.review_text }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $("[id$=" + {{ rating }} +"]").attr("checked", "checked");
        var ask_confirm = true;
        $("#review-delete").click(function (event) {
            if (ask_confirm) {
                event.preventDefault();
                bootbox.confirm('Are you sure?', function (result) {
                    if (result) {
                        ask_confirm = false;
                        $(event.target).trigger('click');
                    }
                })
            }
        });
        $("[name^=remove]").click(function () {
            var id = $(this).data('id');
            var del_url = "{% url 'shop_review_delete' %}";
            $.post(del_url, {'review_id': id}).done(function (data) {
                if (data.status === 'ok') {
                    var block_id = '#review-' + id;
                    $(block_id).hide();
                    $().toastmessage('showToast', {
                        text: data.message,
                        position: 'top-center',
                        type: 'success'
                    });
                }
            }).fail(function (data) {
                $().toastmessage('showToast', {
                    text: data.message,
                    position: 'top-center',
                    type: 'error'
                });
            })
        });
    </script>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <style>
        div.stars {
            width: 270px;
            display: inline-block;
            margin-top: -20px;
        }

        input.star {
            display: none;
        }

        label.star {
            float: right;
            padding: 10px;
            font-size: 36px;
            color: #444;
            transition: all .2s;
        }

        input.star:checked ~ label.star:before {
            content: '\f005';
            color: #FD4;
            transition: all .25s;
        }

        input.star-5:checked ~ label.star:before {
            color: #FE7;
            text-shadow: 0 0 20px #952;
        }

        input.star-1:checked ~ label.star:before {
            color: #F62;
        }

        label.star:hover {
            transform: rotate(-15deg) scale(1.3);
        }

        label.star:before {
            content: '\f006';
            font-family: FontAwesome;
        }
    </style>
{% endblock %}