{% extends 'base.html' %}

{% block header %}
    Shop Index
{% endblock %}

{% block body %}
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="jumbotron">
            <div class="container">
                <h2>Recent added goods</h2>
                {% for good in latest %}
                    <p>
                        <a href="{{ good.get_absolute_url }}">{{ good.name }}</a> in
                        <a href="{{ good.category.get_absolute_url }}">{{ good.category.name }}</a>
                        <span class="label label-default pull-right">{{ good.receipt_date|date }}</span>
                    </p>
                {% endfor %}

                <p>
                    <a class="btn btn-primary btn-lg" href="{% url 'shop_list_lastest' %}">See more</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="jumbotron">
            <div class="container">
                <h2>Most popular goods</h2>
                {% for good in most_popular %}
                    <p>
                        <a href="{{ good.get_absolute_url }}">{{ good.name }}</a> in
                        <a href="{{ good.category.get_absolute_url }}">{{ good.category.name }}</a>
                        <span class="label label-default pull-right">{{ good.rating.average_rating }}</span>
                    </p>
                {% endfor %}
                <p>
                    <a class="btn btn-primary btn-lg" href="{% url 'shop_list_most_rated' %}">See more</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}