{% for star in '12345' %}
    <el><span style="color:goldenrod"
              class="glyphicon glyphicon-star{% if forloop.counter > rating %}-empty{% endif %}"
              aria-hidden="true"></span></el>
{% endfor %}
