{% load staticfiles %}
<div>
    {% if count_items %}
        <span class="badge pull-right">{{ count_items }}</span>
        <a href="{% url 'index_cart' %}"><img src="{% static 'images/shoping-full-32.png' %}"
                                              class="pull-right"
                                              alt="shopping cart" style="margin-top: 7px"></a>
    {% else %}
        <a href="{% url 'index_cart' %}"><img src="{% static 'images/shoping32.png' %}"
                                              alt="shopping cart" style="margin-top: 7px; margin-right: 7px;"></a>
    {% endif %}
</div>