{% load thumbnail %}
<div>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="collapseListCategories">
                <h4 class="panel-title">
                    <a class="" role="button" data-toggle="collapse" href="#collapseCategories"
                       aria-expanded="true" aria-controls="collapseCategories">
                        Categories<b class="caret"></b>
                    </a>
                </h4>
            </div>
            <div id="collapseCategories" class="panel-collapse collapse in" role="tabpanel"
                 aria-labelledby="collapseListCategories" aria-expanded="true">
                <ul class="list-group">
                    {% for category in categories_list %}
                        <a id="category-{{ category.id }}" href="{{ category.get_absolute_url }}"
                           class="list-group-item" style="padding: 2px 15px">
                            {{ category }}<sup>{{ category.goods_set.all.count }}</sup>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="collapseListBrands">
                <h4 class="panel-title">
                    <a class="" role="button" data-toggle="collapse" href="#collapseBrands"
                       aria-expanded="true" aria-controls="collapseBrands">
                        Brands<b class="caret"></b>
                    </a>
                </h4>
            </div>
            <div id="collapseBrands" class="panel-collapse collapse in" role="tabpanel"
                 aria-labelledby="collapseListBrands" aria-expanded="true">
                <ul class="list-group">
                    {% for brand in brands_list %}
                        <a id="brand-{{ brand.id }}" href="{{ brand.get_absolute_url }}"
                           class="list-group-item" style="padding: 2px 15px">
                            {{ brand }}<sup>{{ brand.goods_set.all.count }}</sup>
                            {% if brand.logo %}
                                {% thumbnail brand.logo '40x20' padding=True as im %}
                                    <img src="{{ im.url }}" alt="{{ brand }}" class="pull-right">
                                {% endthumbnail %}
                            {% endif %}
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% if current_category or current_tag or current_brand %}
    <div>
        <div class="panel-group" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="collapseListFilters">
                    <h4 class="panel-title">
                        <a class="" role="button" data-toggle="collapse" href="#collapseFilters"
                           aria-expanded="true" aria-controls="collapseBrands">
                            Filter<b class="caret"></b>
                        </a>
                    </h4>
                </div>
                <div id="collapseFilters" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="collapseListFilters" aria-expanded="true">
                    <div class="panel-body" style="padding: 5px 15px">
                        <form method="get" action="{{ request.path }}">
                            {% if tags %}
                                <div class="h4" style="margin: auto">Tags</div>
                            {% endif %}
                            {% for tag, count in tags %}
                                <li style="list-style:none">
                                    <input type="checkbox" value="{{ tag.slug }}" name="tag"
                                           id="tag-{{ tag.slug }}">
                                    <a href="{{ tag.get_absolute_url }}"><label
                                            for="tag">{{ tag.tag }}<sup>{{ count }}</sup></label></a>
                                </li>
                            {% endfor %}
                            {% if manufacturers %}
                                <h4 style="margin: auto">Brands</h4>
                            {% endif %}
                            {% for brand, count in manufacturers %}
                                <li style="list-style:none">
                                    <input type="checkbox" value="{{ brand.slug }}" name="brand"
                                           id="brand-{{ brand.slug }}">
                                    <a href="{{ brand.get_absolute_url }}"><label
                                            for="brand">{{ brand.name }}<sup>{{ count }}</sup></label></a>
                                </li>
                            {% endfor %}
                            <a class="btn btn-danger" href="{{ request.path }}">Reset</a>
                            {#                            <input type="reset" value="Reset" class="btn btn-danger">#}
                            <input type="submit" value="Filter" class="btn btn-primary pull-right">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
