{% load rating %}
{% load thumbnail %}
{% load staticfiles %}
{% for goods in object_list %}
    <div class="col-md-6 col-sm-6 col-lg-4">
        <div    {% if goods.in_stock %}
            class="panel panel-default"
        {% else %}
            class="panel panel-warning"
        {% endif %}>
            <div class="panel-heading">
                <h4><a href="{{ goods.get_absolute_url }}" data-toggle="tooltip" data-placement="top"
                       title="{{ goods.name }}">{{ goods.name|slice:"25" }}</a></h4>
            </div>
            <div class="panel-body">
                <div style="position: relative">
                    {% thumbnail goods.image_set.all.0.image "220x165" padding=True as im %}
                        <a href="{{ goods.get_absolute_url }}"><img src="{{ im.url }}" class="center-block"></a>
                    {% endthumbnail %}
                    {% if not goods.in_stock %}
                        <div class="h3 out-of-stock">Out of stock!</div>
                    {% else %}
                        {% if goods.discount > 0 %}
                            <div class="onsale">-{{ goods.discount|floatformat:"0" }}%</div>
                        {% endif %}
                    {% endif %}
                    {#                            <div class="new-arrive">New!</div>#}
                </div>
                <div>
                    <ul class="nav nav-tabs goodsTabs" style="display: block">
                        <li role="presentation" class="active"><a href="#" data-target=".price"
                                                                  name="price">Price</a>
                        </li>
                        <li role="presentation"><a href="#" data-target=".description"
                                                   name="description">Description</a>
                        </li>
                        <li role="presentation">
                            <a href="#" data-target=".tags" name="tags">Tags</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active price">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4 class="pull-left">
                                        {% if goods.old_price > goods.price %}
                                            <s class="text-muted" style="color: #cb4747">${{ goods.old_price }}</s>
                                        {% endif %}
                                        ${{ goods.price }}
                                    </h4>

                                    <div class="pull-right text-muted">
                                        <sup>SKU: {{ goods.id }}</sup>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div>
                                        In category <a
                                            href="{{ goods.category.get_absolute_url }}">{{ goods.category }}</a>
                                    </div>
                                    <div>
                                        Manufactured by:
                                        <a href="{{ goods.manufacturer.get_absolute_url }}">
                                            {{ goods.manufacturer }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane description">
                            {{ goods.description }} {% lorem 20 w %}
                        </div>
                        <div role="tabpanel" class="tab-pane tags">
                            {% for tag in goods.tags.all %}
                                <a href="{{ tag.get_absolute_url }}">
                                    {{ tag.tag }}{% if not forloop.last %}, {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div style="display: inline">
                    {% if user.is_authenticated %}
                        {% if goods not in user.wish_list.wish_list.all %}
                            {% include 'shop/wish_list_forms.html' with in_wish_list='False' id=goods.id %}
                        {% else %}
                            {% include 'shop/wish_list_forms.html' with in_wish_list='True' id=goods.id %}
                        {% endif %}
                    {% endif %}
                </div>
                {% if goods.in_stock %}
                    <div class="pull-right" id="buy-button-{{ goods.id }}">
                        {% if goods.id in cart_goods_id %}
                            <a href="{% url 'index_cart' %}">
                                <img src="{% static 'images/checkout32.png' %}"
                                     title="Checkout"
                                     data-toggle="tooltip"
                                     data-placement="top"
                                     style="margin-top: -5px">
                            </a>
                        {% else %}
                            <a href="#" name="add-to-cart" data-id="{{ goods.id }}">
                                <img src="{% static 'images/buy32.png' %}"
                                     title="Add to cart"
                                     data-toggle="tooltip"
                                     data-placement="top"
                                     style="margin-top: -5px">
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
                <div style="display: inline">
                    {% show_rating goods %}{% if goods.rating.rating_counter > 0 %}
                        ({{ goods.rating.rating_counter }}){% endif %}
                </div>
            </div>
        </div>
    </div>
{% empty %}
    <h1>No goods yet!</h1>
{% endfor %}
