<ul class="list-inline" style="display: inline">
    <li id="add-{{ id }}" {% if in_wish_list == 'True' %}style="display: none"{% endif %}>
        <form method="post"
              onsubmit="change_wish_list({{ id }}, '{% url 'user_wish_list_add' id %}', 'add'); return false"
              style="display: inline"
              action="{% url 'user_wish_list_add' id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-link" style="padding: 0px">
                <i class="fa fa-heart-o fa-2x"
                   style="color: #ca4747; padding: 0px"
                   title="Add to wish list" data-toggle="tooltip"
                   data-placement="top">
                </i>
            </button>
        </form>
    </li>
    <li id="del-{{ id }}" {% if in_wish_list == 'False' %}style="display: none"{% endif %}>
        <form method="post"
              onsubmit="change_wish_list({{ id }}, '{% url 'user_wish_list_del' id %}', 'del'); return false"
              style="display: inline"
              action="{% url 'user_wish_list_del' id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-link" style="padding: 0px">
                <i class="fa fa-heart fa-2x"
                   style="color: #ca4747; padding: 0px"
                   title="Remove from wish list" data-toggle="tooltip"
                   data-placement="top">
                </i>
            </button>
        </form>
    </li>
</ul>