{% extends "base.html" %}
{% load static %}
{% load rating %}
{% block header %}
    Create order
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Count</th>
            <th>Cost</th>
            <th>Category</th>
            <th>Rating</th>
            <th>Delete</th>
        </tr>
        </thead>
        {% for item in items %}
            <tr>
                <td><a href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a></td>
                <td>{{ item.price }}</td>
                <td>
                    <div>
                        <form action="{% url 'delete_one' %}" method="post" style="display: inline"
                              onsubmit="item_dec({{ item.id }}, {{ item.price }}); return false">
                            {% csrf_token %}
                            <input class="hidden" name="pk" value="{{ item.id }}">
                            <input class="btn btn-xs btn-default" name="submit" type="submit" value="-"/>
                        </form>
                        <label style="display: inline" id="{{ item.id }}">{{ item.count }}</label>

                        <form action="{% url 'add_one' %}" method="post" style="display: inline"
                              onsubmit="item_add({{ item.id }}, {{ item.price }}); return false">
                            {% csrf_token %}
                            <input class="hidden" name="pk" value="{{ item.id }}">
                            <input class="btn btn-xs btn-default" name="submit" type="submit" value="+"/>
                        </form>
                    </div>
                </td>
                <td id="cost-{{ item.id }}">{{ item.get_cost }}</td>
                <td>{{ item.product.category }}</td>
                <td>{% show_rating item.product %}</td>
                <td>
                    <form action="{% url 'delete_item' item.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-default" id="delete-{{ item.id }}" title="Delete item">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </td>
            </tr>
        {% empty %}
            <h1>No goods yet!</h1>
        {% endfor %}
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>

            <th>Total</th>

            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tr>
            <td></td>
            <td></td>
            <td></td>

            {% if total %}
                <td>
                    <div id="total_price" style="display: inline">{{ total }}</div>
                </td>
            {% else %}
                <td></td>
            {% endif %}

            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    {% if items %}
        <button class="btn btn-lg btn-success pull-right" data-toggle="collapse" data-target="#collapseOrder"
                aria-expanded="false" aria-controls="collapseOrder">Create order
        </button>
        <div class="collapse" id="collapseOrder">
            <form class="col-md-6 col-xs-12 col-md-offset-3" method="post">

                {% csrf_token %}

                <div class="form-group">
                    <label>Place</label>
                    {{ form.place }}
                    {% if form.place.errors %}
                        <div class="alert alert-danger" role="alert">{{ form.place.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label>Date</label>
                    {{ form.date }}
                    {% if form.date.errors %}
                        <div class="alert alert-danger" role="alert">{{ form.date.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label>Time</label>
                    {{ form.time }}
                    {% if form.time.errors %}
                        <div class="alert alert-danger" role="alert">{{ form.time.errors }}</div>
                    {% endif %}
                </div>

                <div class=" form-group">
                    <label>Phone number</label>
                    {{ form.phone_number }}
                    {% if form.phone_number.errors %}
                        <div class="alert alert-danger" role="alert">{{ form.phone_number.errors }}</div>
                    {% endif %}
                </div>

                <div class=" form-group">
                    <label>Description</label>
                    {{ form.description }}
                    {% if form.description.errors %}
                        <div class="alert alert-danger" role="alert">{{ form.description.errors }}</div>
                    {% endif %}
                </div>
                <input name="submit" type="submit" {% if editable %} class="btn btn-block btn-success"
                       value="Update order"
                {% else %} class="btn btn-block btn-primary"  value="Submit order" {% endif %}/>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script src="{% static "js/picker.js" %}"></script>
    <script src="{% static "js/picker.date.js" %}"></script>
    <script src="{% static "js/legacy.js" %}"></script>
    <script>
        $('#datepicker').pickadate({
            format: 'yyyy-mm-dd',
            min: 1,
            max: 4
        });

        var ask_confirm = true;
        $("[id^=delete]").click(function (event) {
            if (ask_confirm) {
                event.preventDefault();
                bootbox.confirm('Are you sure?', function (result) {
                    if (result) {
                        ask_confirm = false;
                        $(event.target).trigger('click');
                    }
                })
            }
        });

        var cart_items_count = {{ item_count }};
        var total_price_id = '#total_price';
        var price_changed = false;

        function item_add(id, price) {
            var add_url = '{% url 'add_one' %}';

            $.post(add_url, {'pk': id}).done(function (data) {
                if (data.status === 'ok') {
                    $().toastmessage('showToast', {
                        text: data.message,
                        {#                        position: 'top-center',#}
                        type: 'success'
                    });
                    cart_items_count++;
                    var item_count = parseInt($('#' + id).html());
                    item_count++;
                    $('#' + id).html(item_count);
                    var total_price = $(total_price_id).html();
                    total_price = (parseFloat(total_price) + parseFloat(price)).toFixed(1);
                    $(total_price_id).html(total_price);
                    var cost = $('#cost-' + id).html();
                    cost = (parseFloat(item_count) * parseFloat(price)).toFixed(1);
                    $('#cost-' + id).html(cost);
                    $('#shopping-cart').html('<span class="badge pull-right"> ' + cart_items_count +
                            ' </span><a href="{% url 'index_cart' %}"><img src="' +
                            '{% static 'images/shoping-full-32.png' %}" alt="shopping cart" style="margin-top: -7px"></a>')

                } else {
                    $().toastmessage('showToast', {
                        text: data.message,
                        {#                        position: 'top-center',#}
                        type: 'error'
                    });
                    {#                    setTimeout(function () {#}
                    {#                        location.reload()#}
                    {#                    }, 4000);#}
                }
            })
        }

        function item_dec(id, price) {
            var del_url = '{% url 'delete_one' %}';

            $.post(del_url, {'pk': id}).done(function (data) {
                if (data.status === 'ok') {
                    $().toastmessage('showToast', {
                        text: data.message,
                        {#                        position: 'top-center',#}
                        type: 'success'
                    });
                    cart_items_count--;
                    var item_count = parseInt($('#' + id).html());
                    item_count--;
                    $('#' + id).html(item_count);
                    var cost = $('#cost-' + id).html();
                    cost = (parseFloat(item_count) * parseFloat(price)).toFixed(1);
                    $('#cost-' + id).html(cost);
                    var total_price = $(total_price_id).html();
                    total_price = (parseFloat(total_price) - parseFloat(price)).toFixed(1);
                    $(total_price_id).html(total_price);
                    $('#shopping-cart').html('<span class="badge pull-right"> ' + cart_items_count +
                            ' </span><a href="{% url 'index_cart' %}"><img src="' +
                            '{% static 'images/shoping-full-32.png' %}" alt="shopping cart" style="margin-top: -7px"></a>')

                } else {
                    $().toastmessage('showToast', {
                        text: data.message,
                        {#                        position: 'top-center',#}
                        type: 'error'
                    });
                    {#                    setTimeout(function () {#}
                    {#                        location.reload()#}
                    {#                    }, 4000);#}
                }
            })
        }
    </script>
{% endblock %}

{% block style %}
    <link href="{% static "css/classic.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/classic.date.css" %}" rel="stylesheet" media="screen">
{% endblock %}