{% extends 'base.html' %}
{% load order_tags %}

{% block header %}
    Orders List
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Price</th>
                <th>Status</th>
                <th>Delete</th>
                <th>Edit order</th>
                <th>Deactivate</th>
            </tr>
        </thead>
    {% for order in object_list %}
        <tr>
            <td><a href="{% url 'show_order' order.id  %}">{{ order.id }}</a></td>
            <td>{{ order|price }}</td>
            <td>{{ order.status }}</td>
            <td>
                <form action="{% url 'delete_order' order.id  %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-default" id="delete-{{ order.id }}" title="Delete order">
                        <span class="glyphicon glyphicon-trash" area-hidden="true"></span>
                    </button>
                </form>
            </td>



            {% if order.status == 'Waiting' %}
            <td>
                <form action="{% url 'edit_order' %}" method="post">
                    {% csrf_token %}
                    <input class="hidden" name="pk" value="{{ order.id }}">
                    <input class="btn btn-primary" name="submit" type="submit" value="Edit order"/>
                </form>
            </td>
            {% elif order.status == 'Editing' %}
            <td>
                <form action="{% url 'edit_order' %}" method="post">
                    {% csrf_token %}
                    <input class="hidden" name="pk" value="{{ order.id }}">
                    <input class="btn btn-primary" name="submit" type="submit" value="Resume edit"/>
                </form>
            </td>
            {% else %}
            <td>{{ order.status }}</td>
            {% endif %}



            {% if order.status == 'Waiting' %}
            <td>
                <form action="{% url 'deactivate_order' order.id  %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-danger" id="deactivate" name="submit" type="submit" value="Deactivate order"/>
                </form>
            </td>
            {% elif order.status == 'Unactive' %}
            <td>
                <form action="{% url 'activate_order' order.id  %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-danger" id="activate" name="submit" type="submit" value="Activate order"/>
                </form>
            </td>
            {% elif order.status == 'Editing' %}
            <td>Editing</td>
            {% else %}
            <td>{{ order.status }}</td>
            {% endif %}



        </tr>
    {% empty %}
        <h1>No orders yet!</h1>
    {% endfor %}
        </table>
{% endblock %}

{% block js %}
<script>
    var ask_confirm = true;
    $("[id^=delete]").click(function (event) {
        if (ask_confirm) {
            event.preventDefault();
            bootbox.confirm('Are you sure?', function (result) {
                if (result) {
                    ask_confirm = false;
                    $(event.target).trigger('click');
                }
            })
        }
    });
</script>
{% endblock %}

