{% extends 'base.html' %}
{% load rating %}
{% block header %}
    Goods List
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
                <th>Price</th>
                <th>Cost</th>
                <th>Category</th>
                <th>Rating</th>
            </tr>
        </thead>
    {% for item in object_list %}
        <tr>
            <td><a href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a></td>
            <td>{{ item.count }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.get_cost }}</td>
            <td>{{ item.product.category }}</td>
            <td>{% show_rating item.product %}</td>
        </tr>
    {% endfor %}
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>

            <th>Total</th>

            <th></th>
            <th></th>
        </tr>
        </thead>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div id="total_price" style="display: inline">{{ total }}</div>
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Place
      </div>
      <div class="panel-body">{{ info.place }}</div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        Date
      </div>
      <div class="panel-body">{{ info.date }}</div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        Time
      </div>
      <div class="panel-body">{{ info.time }}</div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        Phone number
      </div>
      <div class="panel-body">{{ info.phone_number }}</div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        Description
      </div>
      <div class="panel-body">{{ info.description }}</div>
    </div>
</div>
{% endblock %}