{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Auto accessory shop</title>
    <meta charset="UTF-8">
    <meta name=description content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/jquery.toastmessage.css" %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% block style %}

    {% endblock %}
</head>
<body>
<div class="container">
    <h1>
        {% block header %}
            Header
        {% endblock %}
    </h1>
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'shop_list' %}">Catalog</a></li>
                <li>
                    <form class="navbar-form navbar-left" role="search" action="{% url 'shop_list' %}">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" name="q">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello,
                            {% if user.get_short_name %}
                                {{ user.get_short_name }}
                            {% else %}
                                {{ user.username }}
                            {% endif %}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'user_profile' %}">Profile</a></li>
                            <li><a href="{% url 'user_wish_list' %}">Wish list</a></li>
                            <li><a href="{% url 'index_orders' %}">Orders history</a></li>
                            <li role="separator" class="divider"></li>
                            {% if user.is_staff %}
                                <li><a href="{% url 'admin:index' %}">Admin panel</a></li>
                                <li role="separator" class="divider"></li>
                            {% endif %}
                            <li><a href="{% url 'logout_user' %}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <form id="signin" class="navbar-form navbar-right" role="form" action="/users/sign_in/"
                              method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="username" class="form-control" name="username" value=""
                                       placeholder="Username">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="password" type="password" class="form-control" name="password"
                                       value=""
                                       placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </li>
                    <li><a href="{% url 'register_user' %}">Register</a></li>
                {% endif %}
                <li id="shopping-cart">
                    {% include 'shop/shopping_cart.html' with count_items=item_count %}
                </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </nav>

    {% block nav %}
    {% endblock %}

    {% block body %}
        <h1>Body</h1>
    {% endblock %}


</div>
<footer class="footer">
    <div class="container">
        {% block footer %}
            <div class="pull-right">
                <div class="text-muted">Python course team1 &copy; {% now "Y" %}</div>
            </div>
        {% endblock %}
    </div>
</footer>
<!-- jQuery -->
<script src="{% static "js/jquery.min.js" %}"></script>
<!-- Bootstrap JavaScript -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/bootbox.min.js" %}"></script>
<script src="{% static 'js/js.cookie.js' %}"></script>
<script src="{% static 'js/jquery.toastmessage.js' %}"></script>
<script>

    {% for message in messages %}
        $().toastmessage('showToast', {
            text: '{{ message }}',
            position: 'top-center',
            type: '{% if message.tags == "info" %}notice{% else %}{{ message.tags }}{% endif %}'
        });
    {% endfor %}

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $(function () {
        $('[data-toggle=tooltip]').tooltip()
    });

</script>
{% block js %}

{% endblock %}
</body>
</html>