{% extends "base.html" %}

{% block header %}
    User password change
{% endblock %}

{% block nav %}
    {% include 'users/profile_navigation.html' with current='user_change_password' %}
{% endblock %}

{% block body %}

    <form class="col-md-6 col-xs-12 col-md-offset-3" action="{% url 'user_change_password' %}" method="post">

        {% csrf_token %}

        <div class="form-group">
            <label>{{ form.old_password.label }}</label>
            <input type="password" class="form-control" name="{{ form.old_password.name }}"
                   placeholder="{{ form.old_password.label }}"
                    {% if form.old_password.value %}
                   value="{{ form.old_password.value }}"
                    {% endif %}>
            {% if form.old_password.errors %}
                <div class="alert alert-danger" role="alert">{{ form.old_password.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>{{ form.new_password1.label }}</label>
            <input type="password" class="form-control" name="{{ form.new_password1.name }}"
                   placeholder="{{ form.new_password1.label }}"
                    {% if form.new_password1.value %}
                   value="{{ form.new_password1.value }}"
                    {% endif %}>
            {% if form.new_password1.errors %}
                <div class="alert alert-danger" role="alert">{{ form.new_password1.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>{{ form.new_password2.label }}</label>
            <input type="password" class="form-control" name="{{ form.new_password2.name }}"
                   placeholder="{{ form.new_password2.label }}"
                    {% if form.new_password2.value %}
                   value="{{ form.new_password2.value }}"
                    {% endif %}>
            {% if form.new_password2.errors %}
                <div class="alert alert-danger" role="alert">{{ form.new_password2.errors }}</div>
            {% endif %}
        </div>

        <input class="btn btn-block btn-primary" name="submit" type="submit" value="Change"/>
    </form>
{% endblock %}