{% extends "base.html" %}

{% block header %}
    User profile
{% endblock %}

{% block nav %}
    {% include 'users/profile_navigation.html' with current='user_profile' %}
{% endblock %}

{% block body %}

    <div class="container col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <table class="table table-condensed table-striped">
            <tr>
                <td>Full name:</td>
                <td>{{ user.get_full_name }}</td>
            </tr>
            <tr>
                <td>Username:</td>
                <td>{{ user.get_username }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>Phone number</td>
                <td>{{ user.phone_number }}</td>
            </tr>
            <tr>
                <td>Rating</td>
                <td>{{ user.rating }}</td>
            </tr>
        </table>
    </div>
{% endblock %}