<nav class="navbar navbar-default" style="padding: -15px; margin-top: -15px">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav">

            <li {% if current == 'user_profile' %}class="active"{% endif %}>
                <a href="{% url 'user_profile' %}">Profile</a>
            </li>
            <li {% if current == 'user_update' %}class="active"{% endif %}>
                <a href="{% url 'user_update' %}">Edit profile</a>
            </li>
            <li {% if current == 'user_change_password' %}class="active"{% endif %}>
                <a href="{% url 'user_change_password' %}">Change password</a>
            </li>
            <li {% if current == 'user_wish_list' %}class="active"{% endif %}>
                <a href="{% url 'user_wish_list' %}">Wish list</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}">Admin panel</a></li>
            {% endif %}
            <li><a href="{% url 'logout_user' %}">Logout <i class="fa fa-sign-out fa-lg"></i></a></li>
        </ul>
    </div>
    <!-- /.container-fluid -->
</nav>
