{% extends "base.html" %}

{% block header %}
    User registration
{% endblock %}

{% block body %}
    <form class="col-md-6 col-xs-12 col-md-offset-3" action="{% url 'register_user' %}" method="post">

        {% csrf_token %}

        <div class="form-group">
            <label>Name</label>
            <input class="form-control" name="{{ form.first_name.name }}" placeholder="{{ form.first_name.label }}"
                    {% if form.first_name.value %}
                   value="{{ form.first_name.value }}"
                    {% endif %}>
            {% if form.first_name.errors %}
                <div class="alert alert-danger" role="alert">{{ form.first_name.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>Last name</label>
            <input class="form-control" name="{{ form.last_name.name }}" placeholder="{{ form.last_name.label }}"
                    {% if form.first_name.value %}
                   value="{{ form.last_name.value }}"
                    {% endif %}>
            {% if form.last_name.errors %}
                <div class="alert alert-danger" role="alert">{{ form.last_name.errors }}</div>
            {% endif %}
        </div>

        <div class=" form-group">
            <label>E-mail</label>
            <input class="form-control" name="{{ form.email.name }}" placeholder="{{ form.email.label }}"
                    {% if form.first_name.value %}
                   value="{{ form.email.value }}"
                    {% endif %}>
            {% if form.email.errors %}
                <div class="alert alert-danger" role="alert">{{ form.email.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>Account name</label>
            <input class="form-control" name="{{ form.username.name }}" placeholder="{{ form.username.label }}"
                    {% if form.first_name.value %}
                   value="{{ form.username.value }}"
                    {% endif %}>
            {% if form.username.errors %}
                <div class="alert alert-danger" role="alert">{{ form.username.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>Phone number</label>
            <input class="form-control" name="{{ form.phone_number.name }}" placeholder="+375.."
                    {% if form.phone_number.value %}
                   value="{{ form.phone_number.value }}"
                    {% endif %}>
            {% if form.phone_number.errors %}
                <div class="alert alert-danger" role="alert">{{ form.phone_number.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" name="{{ form.password1.name }}"
                   placeholder="{{ form.password1.label }}">
            {% if form.password1.errors %}
                <div class="alert alert-danger" role="alert">{{ form.password1.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>Repeat password</label>
            <input class="form-control" type="password" name="{{ form.password2.name }}"
                   placeholder="{{ form.password2.label }}">
            {% if form.password2.errors %}
                <div class="alert alert-danger" role="alert">{{ form.password2.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group radio">
            {{ form.activation_type }}
        </div>

        <input class="btn btn-block btn-primary" name="submit" type="submit" value="Register"/>
    </form>
{% endblock %}