{% extends "base.html" %}

{% block header %}
    User profile edit
{% endblock %}

{% block nav %}
    {% include 'users/profile_navigation.html' with current='user_update' %}
{% endblock %}

{% block body %}

    <form class="col-md-6 col-xs-12 col-md-offset-3" action="{% url 'user_update' %}" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label>Name</label>
            <input class="form-control" name="{{ form.first_name.name }}" placeholder="{{ form.first_name.label }}"
                    {% if form.first_name.value %}
                   value="{{ form.first_name.value }}"
                    {% endif %}>
            {% if form.first_name.errors %}
                <div class="alert alert-danger" role="alert">{{ form.first_name.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>Last name</label>
            <input class="form-control" name="{{ form.last_name.name }}" placeholder="{{ form.last_name.label }}"
                    {% if form.first_name.value %}
                   value="{{ form.last_name.value }}"
                    {% endif %}>
            {% if form.last_name.errors %}
                <div class="alert alert-danger" role="alert">{{ form.last_name.errors }}</div>
            {% endif %}
        </div>

        <div class=" form-group">
            <label>E-mail</label>
            <input class="form-control" name="{{ form.email.name }}" placeholder="{{ form.email.label }}"
                    {% if form.first_name.value %}
                   value="{{ form.email.value }}"
                    {% endif %}>
            {% if form.email.errors %}
                <div class="alert alert-danger" role="alert">{{ form.email.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>Phone number</label>
            <input class="form-control" name="{{ form.phone_number.name }}" placeholder="+375.."
                    {% if form.phone_number.value %}
                   value="{{ form.phone_number.value }}"
                    {% endif %}>
            {% if form.phone_number.errors %}
                <div class="alert alert-danger" role="alert">{{ form.phone_number.errors }}</div>
            {% endif %}
        </div>

        <input class="btn btn-block btn-primary" name="submit" type="submit" value="Update"/>
    </form>
{% endblock %}