{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}
{% load rating %}

{% block header %}
    User wish list
{% endblock %}

{% block nav %}
    {% include 'users/profile_navigation.html' with current='user_wish_list' %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            {% for goods in user.wish_list.wish_list.all %}
                <div class="panel {% if not goods.in_stock %}panel-warning{% else %}panel-default{% endif %}">
                    <div class="panel-heading">
                        {% if not goods.in_stock %}
                            <div class="out-of-stock-string">Out of stock!</div>
                        {% else %}
                            {% if goods.discount > 0 %}
                                <div class="onsale-string">-{{ goods.discount|floatformat:"0" }}%</div>
                            {% endif %}
                        {% endif %}
                        <h4 style="margin-top: 5px; margin-bottom: 5px;"><a href="{{ goods.get_absolute_url }}"
                                                                            data-toggle="tooltip" data-placement="top"
                                                                            title="{{ goods.name }}">{{ goods.name }}</a>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-2 hidden-xs">
                            <div class="row">
                                <div class="container-fluid pull-left" style="position: relative">
                                    {% thumbnail goods.image_set.all.0.image "80x60" padding=True as im %}
                                        <a href="{{ goods.get_absolute_url }}"><img src="{{ im.url }}"
                                                                                    class="center-block"></a>
                                    {% endthumbnail %}
                                    {#                            <div class="new-arrive">New!</div>#}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="row float-left">
                                <h4 class="pull-left">
                                    {% if goods.old_price > goods.price %}
                                        <s class="text-muted">${{ goods.old_price }}</s>
                                    {% endif %}
                                    ${{ goods.price }}
                                </h4>

                                <div class="pull-right text-muted">
                                    <sup>SKU: {{ goods.id }}</sup>
                                </div>

                            </div>
                            <!-- row -->
                            <div class="row float-left">
                                {{ goods.description }} {% lorem 20 w %}
                            </div>
                            <!-- row -->
                            <div class="row float-left">
                                <strong><a
                                        href="{{ goods.category.get_absolute_url }}">{{ goods.category }}:</a></strong>
                                {% for tag in goods.tags.all %}
                                    <a href="{{ tag.get_absolute_url }}">
                                        {{ tag.tag }}{% if not forloop.last %}, {% endif %}
                                    </a>
                                {% endfor %}
                            </div>
                            <!-- row -->
                        </div>
                    </div>
                    {#panel body#}
                    <div class="panel-footer">
                        <div style="display: inline">
                            {% if user.is_authenticated %}
                                {% if goods not in user.wish_list.wish_list.all %}
                                    {% include 'shop/wish_list_forms.html' with in_wish_list='False' id=goods.id %}
                                {% else %}
                                    {% include 'shop/wish_list_forms.html' with in_wish_list='True' id=goods.id %}
                                {% endif %}
                            {% endif %}
                        </div>
                        {% if goods.in_stock %}
                            <div class="pull-right" id="buy-button-{{ goods.id }}">
                                {% if goods.id in cart_goods_id %}
                                    <a href="{% url 'index_cart' %}">
                                        <img src="{% static 'images/checkout32.png' %}"
                                             title="Checkout"
                                             data-toggle="tooltip"
                                             data-placement="top"
                                             style="margin-top: -5px">
                                    </a>
                                {% else %}
                                    <a href="#" name="add-to-cart" data-id="{{ goods.id }}">
                                        <img src="{% static 'images/buy32.png' %}"
                                             title="Add to cart"
                                             data-toggle="tooltip"
                                             data-placement="top"
                                             style="margin-top: -5px">
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}
                        <div style="display: inline">
                            {% show_rating goods %}{% if goods.rating.rating_counter > 0 %}
                                ({{ goods.rating.rating_counter }}){% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <h3 class="text-center">No goods added yet</h3>
            {% endfor %}
        </div>
        <div class="row" id="reload" style="display: none">
            <div class="col-sm-4 col-sm-offset-4">
                <a class="btn btn-primary btn-block" href="{% url 'user_wish_list' %}">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    Reload page</a>
            </div>
        </div>
        <div class="row">
            <nav class="col-lg-12">
                <div class="row">
                    <ul class="pager">
                        {% if page_obj.has_previous %}
                            <li class="previous"><a
                                    href="?{% url_replace request 'page' page_obj.previous_page_number %}"><span
                                    aria-hidden="true">&larr;</span></a></li>
                        {% endif %}
                        <li class="text-center">{{ page_obj.number }} of {{ paginator.num_pages }}</li>
                        {% if page_obj.has_next %}
                            <li class="next"><a href="?{% url_replace request 'page' page_obj.next_page_number %}"><span
                                    aria-hidden="true">&rarr;</span></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        var items_count = {{ item_count }};
        $('[name=add-to-cart]').click(function (event) {
            event.preventDefault();
            var id = $(this).data('id');
            var add_url = '{% url "to_cart" %}';

            $.post(add_url, {'pk': id}).done(function (data) {
                if (data.status === 'ok') {
                    $().toastmessage('showToast', {
                        text: data.message,
                        position: 'top-center',
                        type: 'success'
                    });
                    items_count++;
                    $('#buy-button-' + id).html('<a href="{% url 'index_cart' %}">' +
                            '<img src="{% static 'images/checkout32.png' %}" title="Checkout"' +
                            'data-toggle="tooltip" data-placement="top" style="margin-top: -5px"></a>');
                    $('#shopping-cart').html('<div><span class="badge pull-right"> ' + items_count +
                            ' </span><a href="{% url 'index_cart' %}"><img src="' +
                            '{% static 'images/shoping-full-32.png' %}" alt="shopping cart" style="margin-top: 7px"></a></div>')

                } else {
                    $().toastmessage('showToast', {
                        text: data.message,
                        position: 'top-center',
                        type: 'error'
                    });
                }
            })
        });
        function change_wish_list(id, url, action) {
            $.post(url, {'goods_id': id}).done(function (data) {
                if (data.status === 'ok') {
                    if (action === 'add') {
                        $('#add-' + id).hide();
                        $('#del-' + id).show()
                    } else {
                        $('#add-' + id).show();
                        $('#del-' + id).hide()
                    }
                    $().toastmessage('showToast', {
                        text: data.message,
                        position: 'top-center',
                        type: 'success'
                    });
                    $('#reload').show()
                } else {
                    $().toastmessage('showToast', {
                        text: data.message,
                        position: 'top-center',
                        type: 'error'
                    });
                }
            })
        }
    </script>
{% endblock %}
{% block style %}
        <link href="{% static "css/shop.css" %}" rel="stylesheet" media="screen">
{% endblock %}