.onsale {
    opacity: 0.8;
    float: right;
    background: #f1eed8;
    color: #cb4747;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 100;
    right: 5px;
    top: 5px;
    font-weight: bold;
}

.new-arrive {
    opacity: 0.8;
    float: left;
    background: #d4e7cd;
    color: #2f6fac;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 100;
    left: 5px;
    top: 5px;
}

.out-of-stock {
    opacity: 0.8;
    display: inline-block;
    background: #cb4747;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 100;
    left: 5px;
    top: 5px;
    font-weight: bold;
}

.tab-content {
    height: 100px;
    padding: 5px;
}

.onsale-string {
    opacity: 0.8;
    float: right;
    background: #f1eed8;
    color: #cb4747;
    padding: 5px;
    border-radius: 5px;
    z-index: 100;
    font-weight: bold;
}

.out-of-stock-string {
    opacity: 0.8;
    float: right;
    background: #cb4747;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    z-index: 100;
    font-weight: bold;
}